---

---

<footer class='mx-auto mt-24 w-full'>
	<div class='border-t border-border pt-5'>
		<div
			class='flex flex-col items-center gap-y-3 sm:flex sm:flex-row sm:items-center sm:justify-between sm:gap-y-0'
		>
			<div class='flex gap-x-4 text-sm'>
				<p class='text-gray-600'>
					&copy; {new Date().getFullYear()} PingO. All rights reserved.
				</p>
			</div>

			<div class='flex items-center justify-between gap-2 text-sm'>
				<span class="text-gray-600">Made with ❤️ in Brazil</span>
			</div>
		</div>
	</div>
</footer>
