---

---

<header class='mb-12 flex w-full flex-wrap pb-3 text-sm sm:flex-nowrap sm:justify-start'>
	<nav
		class='relative mx-auto flex w-full items-center justify-between sm:flex sm:items-center'
		aria-label='global'
	>
		<a class='flex-none text-xl font-semibold' href='/' aria-label='Brand'>
			<svg width='120' viewBox='0 0 229 94' fill='none' xmlns='http://www.w3.org/2000/svg'>
				<path
					d='M7.96003 93.08C3.28803 93.08 0.952026 90.584 0.952026 85.592V47.768C0.952026 39.064 2.87203 32.568 6.71203 28.28C10.552 23.992 15.928 21.848 22.84 21.848C29.88 21.848 35.416 24.088 39.448 28.568C43.544 33.048 45.592 39.608 45.592 48.248C45.592 54.008 44.76 58.616 43.096 62.072C41.432 65.464 39.128 67.928 36.184 69.464C33.24 71 29.848 71.768 26.008 71.768C22.68 71.768 19.928 71.288 17.752 70.328C15.64 69.368 13.976 67.896 12.76 65.912C13.208 67.192 13.528 68.44 13.72 69.656C13.976 70.872 14.136 72.28 14.2 73.88C14.328 75.48 14.392 77.528 14.392 80.024V85.592C14.392 90.584 12.248 93.08 7.96003 93.08ZM23.512 60.536C26.2 60.536 28.28 59.608 29.752 57.752C31.288 55.832 32.056 52.248 32.056 47C32.056 41.752 31.288 38.2 29.752 36.344C28.28 34.424 26.2 33.464 23.512 33.464C20.824 33.464 18.712 34.424 17.176 36.344C15.704 38.2 14.968 41.752 14.968 47C14.968 52.248 15.704 55.832 17.176 57.752C18.712 59.608 20.824 60.536 23.512 60.536Z'
					fill='currentColor'></path>
				<path
					d='M68.5908 65.336C68.5908 69.624 66.3508 71.768 61.8708 71.768C59.6948 71.768 57.9668 71.256 56.6868 70.232C55.4068 69.144 54.7668 67.512 54.7668 65.336V38.76C54.7668 36.712 55.2788 35.112 56.3028 33.96C57.3908 32.808 59.1828 32.232 61.6788 32.232C64.1748 32.232 65.9348 32.808 66.9588 33.96C68.0468 35.112 68.5908 36.712 68.5908 38.76V65.336Z'
					fill='currentColor'></path>
				<path
					d='M85.768 71.768C81.16 71.768 78.856 69.592 78.856 65.24V42.2C78.856 36.056 80.808 31.192 84.712 27.608C88.68 24.024 93.896 22.232 100.36 22.232C106.824 22.232 112.008 24.024 115.912 27.608C119.88 31.192 121.864 36.056 121.864 42.2V65.24C121.864 69.592 119.56 71.768 114.952 71.768C110.344 71.768 108.04 69.592 108.04 65.24V42.968C108.04 39.96 107.368 37.688 106.024 36.152C104.68 34.552 102.792 33.752 100.36 33.752C97.928 33.752 96.04 34.552 94.696 36.152C93.352 37.688 92.68 39.96 92.68 42.968V65.24C92.68 69.592 90.376 71.768 85.768 71.768Z'
					fill='currentColor'></path>
				<path
					d='M174.799 76.856C174.799 82.296 172.239 86.36 167.119 89.048C161.999 91.736 154.671 93.08 145.135 93.08C140.207 93.08 136.591 92.44 134.287 91.16C132.047 89.944 130.927 88.024 130.927 85.4C130.927 83.544 131.439 82.296 132.463 81.656C133.487 81.08 134.863 80.792 136.591 80.792C137.871 80.792 138.959 80.856 139.855 80.984C140.751 81.176 141.711 81.336 142.735 81.464C143.823 81.656 145.167 81.752 146.767 81.752C151.823 81.752 155.439 81.368 157.615 80.6C159.855 79.832 160.975 78.264 160.975 75.896C160.975 73.912 160.175 72.312 158.575 71.096C156.975 69.88 154.959 69.272 152.527 69.272C137.807 69.272 130.447 61.432 130.447 45.752C130.447 37.752 132.303 31.832 136.015 27.992C139.727 24.152 145.263 22.232 152.623 22.232C157.487 22.232 161.519 23.064 164.719 24.728C166.255 18.968 169.519 16.088 174.511 16.088C176.943 16.088 178.799 16.728 180.079 18.008C181.423 19.224 182.095 21.016 182.095 23.384C182.095 25.56 181.455 27.128 180.175 28.088C178.895 29.048 176.847 29.528 174.031 29.528C172.815 29.528 171.695 29.624 170.671 29.816C173.423 33.656 174.799 39 174.799 45.848C174.799 50.136 174.159 53.688 172.879 56.504C171.663 59.32 169.391 61.656 166.063 63.512C169.263 64.664 171.503 66.456 172.783 68.888C174.127 71.256 174.799 73.912 174.799 76.856ZM144.271 45.752C144.271 53.752 147.055 57.752 152.623 57.752C158.191 57.752 160.975 53.752 160.975 45.752C160.975 41.592 160.271 38.552 158.863 36.632C157.519 34.712 155.439 33.752 152.623 33.752C149.871 33.752 147.791 34.712 146.383 36.632C144.975 38.552 144.271 41.592 144.271 45.752Z'
					fill='currentColor'></path>
				<path
					d='M206.442 71.768C199.594 71.768 194.186 69.816 190.218 65.912C186.25 62.008 184.266 55.704 184.266 47C184.266 38.232 186.25 31.928 190.218 28.088C194.186 24.184 199.594 22.232 206.442 22.232C213.29 22.232 218.698 24.184 222.666 28.088C226.634 31.928 228.618 38.232 228.618 47C228.618 55.704 226.634 62.008 222.666 65.912C218.698 69.816 213.29 71.768 206.442 71.768ZM206.442 60.248C208.234 60.248 209.738 59.896 210.954 59.192C212.17 58.424 213.098 57.08 213.738 55.16C214.442 53.24 214.794 50.52 214.794 47C214.794 43.48 214.442 40.76 213.738 38.84C213.098 36.92 212.17 35.608 210.954 34.904C209.738 34.136 208.234 33.752 206.442 33.752C204.714 33.752 203.21 34.136 201.93 34.904C200.714 35.608 199.754 36.92 199.05 38.84C198.41 40.76 198.09 43.48 198.09 47C198.09 50.52 198.41 53.24 199.05 55.16C199.754 57.08 200.714 58.424 201.93 59.192C203.21 59.896 204.714 60.248 206.442 60.248Z'
					fill='currentColor'></path>
				<path
					opacity='0.2'
					d='M58.875 27.1875L60.6875 18.125L53.4375 15.4062L66.125 1.8125L64.3125 10.875L71.5625 13.5938L58.875 27.1875Z'
					fill='#3772FF'></path>
				<path
					d='M72.445 13.3865C72.4106 13.2412 72.341 13.1067 72.2422 12.9948C72.1434 12.883 72.0185 12.7973 71.8786 12.7453L65.3524 10.2973L67.0131 1.99036C67.0507 1.79735 67.0245 1.59735 66.9385 1.42053C66.8525 1.24372 66.7113 1.09968 66.5362 1.01016C66.3611 0.92064 66.1617 0.890492 65.9679 0.924266C65.7742 0.95804 65.5968 1.0539 65.4623 1.19739L52.7748 14.7911C52.6718 14.8997 52.5972 15.0321 52.5578 15.1766C52.5184 15.321 52.5154 15.4729 52.5491 15.6188C52.5828 15.7646 52.652 15.8999 52.7507 16.0124C52.8494 16.125 52.9744 16.2114 53.1146 16.2638L59.643 18.7118L57.9869 27.0097C57.9493 27.2027 57.9755 27.4027 58.0615 27.5795C58.1475 27.7563 58.2887 27.9003 58.4638 27.9899C58.6389 28.0794 58.8383 28.1095 59.0321 28.0758C59.2258 28.042 59.4032 27.9461 59.5377 27.8026L72.2252 14.2089C72.3264 14.1003 72.3993 13.9685 72.4377 13.8251C72.476 13.6817 72.4785 13.5311 72.445 13.3865ZM60.3896 24.2422L61.5756 18.3085C61.6181 18.0981 61.5844 17.8794 61.4807 17.6914C61.377 17.5035 61.2099 17.3585 61.0092 17.2822L55.0234 15.0336L64.6093 4.76348L63.4244 10.6972C63.3819 10.9076 63.4156 11.1263 63.5193 11.3142C63.623 11.5022 63.7901 11.6472 63.9908 11.7235L69.972 13.9665L60.3896 24.2422Z'
					fill='#3772FF'></path>
			</svg>
		</a>

		<div class='flex flex-row items-center justify-center gap-x-5 sm:gap-x-7'>
			<a
				href='/blog'
				class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
				aria-label='Nav Menu Item'
				>Blog
			</a>
			<a
				href='/tools'
				class='flex-none text-[1.05rem] font-medium hover:text-foreground/75'
				aria-label='Nav Menu Item'
				>Tools
			</a>

			<button
				id='toggleDarkMode'
				class='relative rounded-md border border-border p-1.5 transition-all hover:bg-border'
			>
				<span class='sr-only'>Dark Theme</span>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='32'
					height='32'
					class='h-[1.2rem] w-[1.2rem] rotate-0 scale-100 transition-all dark:hidden dark:-rotate-90 dark:scale-0'
					fill='currentColor'
					viewBox='0 0 256 256'
					><path d='M184,128a56,56,0,1,1-56-56A56,56,0,0,1,184,128Z' opacity='0.2'></path><path
						fill='currentColor'
						d='M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z'
					></path></svg
				>
				<svg
					xmlns='http://www.w3.org/2000/svg'
					width='32'
					height='32'
					class='hidden h-[1.2rem] w-[1.2rem] rotate-90 scale-0 transition-all dark:block dark:rotate-0 dark:scale-100'
					fill='currentColor'
					viewBox='0 0 256 256'
					><path
						fill='currentColor'
						d='M227.89,147.89A96,96,0,1,1,108.11,28.11,96.09,96.09,0,0,0,227.89,147.89Z'
						opacity='0.2'></path><path
						d='M233.54,142.23a8,8,0,0,0-8-2,88.08,88.08,0,0,1-109.8-109.8,8,8,0,0,0-10-10,104.84,104.84,0,0,0-52.91,37A104,104,0,0,0,136,224a103.09,103.09,0,0,0,62.52-20.88,104.84,104.84,0,0,0,37-52.91A8,8,0,0,0,233.54,142.23ZM188.9,190.34A88,88,0,0,1,65.66,67.11a89,89,0,0,1,31.4-26A106,106,0,0,0,96,56,104.11,104.11,0,0,0,200,160a106,106,0,0,0,14.92-1.06A89,89,0,0,1,188.9,190.34Z'
					></path></svg
				>
			</button>
		</div>
	</nav>
</header>

<script>
	function getCurrentTheme() {
		return localStorage.getItem('theme')
	}
	const toggleDarkModeButton = document.getElementById('toggleDarkMode')

	toggleDarkModeButton?.addEventListener('click', () => {
		const toggleDarkModeEvent = new CustomEvent('theme-change', {
			detail: { theme: getCurrentTheme() === 'light' ? 'dark' : 'light' }
		})
		document.dispatchEvent(toggleDarkModeEvent)
	})
</script>
